<h1>Zip Codes</h1>
<table id="zipcode-table">
    <thead>
        {{!-- First row as header --}}
        <tr>
            {{#each headers}}
            <th>
                {{this}}
            </th>
            {{/each}}
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{!-- For each row, print the fields--}}
        {{#each data}}
        <tr>
            <form action="/update_delete_zipcode" method="POST">
                <td><input name="zipcode_id" value="{{this.ZIP_ID}}" readonly></td>
                <td><input name="zipcode" value="{{this.ZIP_CODE}}"></td>
                <td><input type="submit" name="action" value="Update" /></td>
                <td><input type="submit" name="action" value="Delete" /></td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
    <b>Update:</b> Please edit data in the table directly and click 'Update'.<br>
    <b>Delete:</b> Please click 'Delete' next to each record.<br>
{{!--Input fields--}}
<h2>Add zipcode</h2>
<p>Please enter the zipcode and press submit button to add a new zipcode</p>
<form id="add-zipcode-form" method="POST" action="/add-zipcode-form">
    <label for="input-zipcode">Zip Code: </label>
    <input type="text" name="input-zipcode" id="input-zipcode">
    <input type="submit">
</form>
